#volume {
    position: relative;
	bottom: -15px;
    margin-left: 45px;
    height:10px;
    max-width: 45%;
    background: #fff;
	border-radius: 15px;
	direction: ltr;
	padding: 0 5px;
	-webkit-overflow-scrolling:touch;
}

#volume .ui-slider-range-min {
    height:3px;
    width: 300px;
    position: absolute;
    background: rgba(76, 161, 196, 0.8);
	border-radius: 20px;
	margin-top: 4px;
	-webkit-overflow-scrolling:touch;
}

#volume .ui-slider-handle {
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 30px;
	border: 8px solid rgba(76, 161, 196, 1);
	position: absolute;
	margin-left: -15px;
	margin-top: -11px;
	cursor: pointer;
	-webkit-overflow-scrolling:touch;
}